
/*.list {
	display: flex;
	justify-content: space-around;
	margin: 5px;
	width: 50%;
	list-style: none;
}
.conteiner-list {
	.list {
		a {
			color: white;
			text-decoration: none;
		}
	}
}*/
.img-fabrica {
  width: 50%;
  border: 4px solid black; }
