.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  position: absolute; }

.form {
  padding: 50px 150px;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  background-color: aqua;
  border-radius: 4px;
  display: flex;
  flex-direction: column; }
  .form .conteiner-botons {
    display: flex;
    justify-content: space-around; }
    .form .conteiner-botons .botons {
      margin: 20px; }

video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #080c25; }

.empresa {
  z-index: -1;
  padding: 60px 40px 200px;
  color: #3071e7;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  width: 100%; }
  .empresa:hover {
    transform: scaleX(1.25); }

.vision {
  display: flex;
  justify-content: center;
  color: #161E35;
  font-size: 20px;
  padding: 20px;
  margin: 5px 390px;
  background-image: #080c25; }

@media (max-width: 1100px) {
  .vision {
    display: none; } }

.nombre-empresa {
  background-color: black;
  color: white;
  font-size: 44px;
  border: 2px solid black;
  display: flex;
  justify-content: center; }

h3 {
  padding: 40px 10px 0 10px;
  color: whitesmoke;
  background-image: linear-gradient(#50b6ff, #50b6ff38);
  display: flex;
  justify-content: flex-start;
  font-size: 30px; }

.img-model {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px; }

.nuestros-trabajos {
  display: flex;
  justify-content: center; }

.productos {
  color: black; }

.conteiner-productos {
  display: grid;
  grid-template-rows: 250px 150px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 5px;
  margin: 10px 50px;
  grid-template-areas: "puertas complementos aberturas" "puertas pisos pisos"; }

.aberturas {
  grid-area: aberturas; }

.pisos {
  grid-area: pisos; }

.complementos {
  grid-area: complementos; }

.puertas {
  grid-area: puertas; }

.pyd {
  height: 100%;
  width: 100%; }

@media (max-width: 576px) {
  .conteiner-productos {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  .text-productos {
    margin: 10px; }
  .productos {
    margin: 10px; }
  .pyd {
    border: solid, 10px, black; } }

.conteiner-sociales {
  position: fixed;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: row-reverse; }

.sociales {
  display: flex;
  justify-content: space-between;
  width: 3%; }

@media (max-width: 576px) {
  .conteiner-sociales {
    display: flex;
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }
