@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Exo:wght@600 & display=swap");
.titulo {
  border-bottom: 3px solid #0b677b; }

.form {
  padding: 50px 150px;
  margin: auto;
  margin-top: 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-image: url(../../multimedia/imagenes/imagenesdelafabrica/imagenfondoformulario.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .form .material {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff; }
  .form .controls {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 15px 25px 0, 0, 0, 0.5;
    background-color: #ffffff; }
    .form .controls .observaciones {
      padding: 0 100px; }
  .form .conteiner-botons {
    border-radius: 10px;
    display: flex;
    justify-content: space-around; }
    .form .conteiner-botons .botons {
      margin: 20px;
      background-color: rgba(11, 103, 123, 0.6);
      font-family: 'Exo', sans-serif;
      border: 3px solid whitesmoke;
      border-radius: 5px; }

@media (max-width: 576px) {
  .form {
    margin-top: 0;
    width: 100%;
    padding: 0; }
  .map-responsive iframe {
    width: 100%;
    height: 100%; } }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 10px; }

.map-responsive iframe {
  position: absolute; }

.video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0b677b; }

.empresa {
  font-family: 'Exo', sans-serif;
  z-index: -1;
  margin: 300px 300PX 0 300PX;
  color: #ffffff;
  font-size: 90px;
  transition: all 2s;
  width: 70%;
  padding: 0%;
  display: flex;
  justify-content: center;
  border: 10px solid #ffffff; }

.vision {
  display: flex;
  justify-content: right;
  color: #ffffff;
  font-size: 20px;
  padding: 2px;
  margin: 5px 390px;
  border-bottom: 3px solid #ffffff; }

@media (max-width: 1100px) {
  .vision {
    display: none; } }

@media (max-width: 576px) {
  .empresa {
    font-size: 40px;
    text-align: center; }
  .empresa {
    margin: 250px 80px 100px 300px; } }

.nombre-empresa {
  background-color: rgba(11, 103, 123, 0.6);
  color: white;
  font-size: 44px;
  display: flex;
  justify-content: center;
  font-family: 'Exo', sans-serif; }

.nuestros-trabajos {
  display: flex;
  justify-content: center;
  background-color: rgba(11, 103, 123, 0.6);
  color: #ffffff; }

.conteiner-trabajos h3 {
  padding: 40px 10px 0 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  border-bottom: 2px solid #0b677b; }

.conteiner-trabajos img {
  width: 95%;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  margin: auto; }

.productos {
  color: #ffffff;
  display: flex;
  justify-content: center;
  background-color: rgba(11, 103, 123, 0.6); }

.text-productos {
  margin: 10px;
  font-family: 'Barlow', sans-serif; }

.conteiner-productos {
  display: grid;
  grid-template-rows: 250px 150px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 5px;
  margin: 10px 50px;
  grid-template-areas: "puertas complementos aberturas" "puertas pisos pisos"; }
  .conteiner-productos p {
    font-family: 'Exo', sans-serif; }

.aberturas {
  grid-area: aberturas;
  transition: all 1.3s; }
  .aberturas p {
    visibility: hidden; }
  .aberturas:hover {
    transform: scale(1.2); }
    .aberturas:hover p {
      visibility: visible;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      background-color: rgba(0, 103, 123, 0.7); }

.pisos {
  grid-area: pisos;
  transition: all 1.3s;
  border: 5px solid #ffffff; }
  .pisos p {
    visibility: hidden; }
  .pisos:hover {
    transform: scale(1.2); }
    .pisos:hover p {
      visibility: visible;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      background-color: rgba(0, 103, 123, 0.7); }

.complementos {
  grid-area: complementos;
  transition: all 1.3s;
  border: 5px solid #ffffff; }
  .complementos p {
    visibility: hidden; }
  .complementos:hover {
    transform: scale(1.2); }
    .complementos:hover p {
      visibility: visible;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30%;
      background-color: rgba(0, 103, 123, 0.7); }

.puertas {
  grid-area: puertas;
  transition: all 1.3s;
  border: 5px solid #ffffff; }
  .puertas p {
    visibility: hidden; }
  .puertas:hover {
    transform: scale(1.2); }
    .puertas:hover p {
      visibility: visible;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
      background-color: rgba(0, 103, 123, 0.7); }

.pyd {
  height: 100%;
  width: 100%; }

@media (max-width: 576px) {
  .conteiner-productos {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  .pisos:hover {
    transform: scale(1); }
  .aberturas:hover {
    transform: scale(1); }
  .puertas:hover {
    transform: scale(1); }
  .complementos:hover {
    transform: scale(1); } }

.videoyoutube {
  margin: 50px; }

.conteiner-sociales {
  position: fixed;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 2rem 0;
  background-color: rgba(245, 245, 245, 0.597); }

.sociales {
  display: flex;
  justify-content: space-between;
  width: 3%; }

@media (max-width: 576px) {
  .conteiner-sociales {
    display: flex;
    flex-direction: column; } }

* {
  margin: 0%;
  padding: 0%; }
