.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;


}

.form {
    padding: 50px 150px;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    background-color: aqua;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .conteiner-botons{
        display: flex;
        justify-content: space-around;



        .botons {
            margin: 20px;
        }

    }


    
}