

.form {
    padding: 50px 150px;
    margin: auto;
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-image:url(../../multimedia/imagenes/imagenesdelafabrica/imagenfondoformulario.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    

    .material {
        border: 1px solid whitesmoke;
        border-radius: 5px;
        margin: 5px;
        background-color: whitesmoke;
        }

    .controls {
        border: 1px solid whitesmoke; 
        border-radius: 5px;
        margin: 5px;
        box-shadow: 0px 15px 25px (0,0,0,0.50) ;


        .observaciones {
            padding: 50px;
        }
    }

    .conteiner-botons{
        border-radius: 10px;
        display: flex;
        justify-content: space-around;



        .botons {
            margin: 20px;
        }

    }
}

@media (max-width:576px) {
    .form {
        margin-top: 0;
        width: 100%;
        padding: 0;
    }

    .map-responsive iframe {
            width: 100%;
            height: 100%;
        }
    } 

.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 10px;
    
}

.map-responsive iframe{
    position:absolute;
}