

  .conteiner-sociales {
	position: fixed;
	bottom: 0;
	right: 10px;
	display: flex;
	flex-direction: row-reverse;
	border-radius: 2rem 0;
	background-color: rgba(245, 245, 245, 0.597);
	
}
.sociales {
	display: flex;
	justify-content: space-between;
	width: 3%;
	
	
}

	@media (max-width:576px) {
		.conteiner-sociales { 
			display: flex;
			flex-direction: column;
			
	
		}
	}