
@import 'base/colors';


.nuestros-trabajos {
	display: flex;
	justify-content: center;
	background-color: $colorterciario;
}

.conteiner-trabajos{
	h3 {
		padding: 40px 10px 0 10px;
		display: flex;
		justify-content: flex-start;
		font-size: 30px;
		border-bottom: 2px solid $colorsecundario;
	
		
	}
	img {
		width: 95%;
		padding: 20px;
		display: flex;
		align-items: center;
		margin: 10px;
		margin: auto;
	}

}


