h3 {
	padding: 40px 10px 0 10px;
	color: whitesmoke;
	background-image: linear-gradient(#50b6ff,#50b6ff38);
	display: flex;
	justify-content: flex-start;
	font-size: 30px;
	
}

.img-model {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 10px;
}

.nuestros-trabajos {
	display: flex;
	justify-content: center;
}